.root {
    -fx-background-color: #1e272e;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#loginBox {
    -fx-background-color: #34495e;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-background-radius: 50px;
}



.label {
    -fx-font-size: 18;
    -fx-text-fill: #ecf0f1;
    -fx-background-radius: 50px;
}

#promptLabel {
    -fx-font-size: 12;
}

.button {
    -fx-font-size: 16;
    -fx-min-width: 200;
    -fx-max-width: 200;
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 50px;
}

.button:hover {
    -fx-background-color: #387196;
    -fx-cursor: hand;
}

#registerButton {
    -fx-background-color: #00000000;
}

#registerButton:hover {
    -fx-text-fill: #387196;
}

#logoutButton {
    -fx-background-color: #ff3e3e;
}

#logoutButton:hover {
    -fx-background-color: #d03131;
}

/* Table styles */

/* date picker styles */
.dataPicker {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: white;
    -fx-border-color: white;
}
.column-header {
    -fx-background-color: #0077cc; /* Blue background for column headers */
    -fx-text-fill: white; /* White text for column headers */
}
.table-cell {
    -fx-alignment: center; /* Center text in table cell */
}

.text-field, .password-field {
    -fx-font-size: 14;
    -fx-padding: 10;
    -fx-background-radius: 50px;
    -fx-text-fill: #ecf0f1;
    -fx-background-color: #2c3e50;
    -fx-min-width: 200;
    -fx-max-width: 200;
}